
.sympy-live-base {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 5px;
    font-family: monospace;
    font-size: 10pt;
    background-color: white;
    border: 1px solid silver;
}

.sympy-live-logo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 5px;
    font-family: monospace;
    font-size: 10pt;
    background-color: #f5f5f5;
    border: 1px solid silver;
    cursor: pointer;
}

.sympy-live-header {
    padding-bottom: 5px;
}

.sympy-live-header > * {
    margin-right: 1ex;
}

.sympy-live-hide {
    cursor: pointer;
    float: right;
    margin: 0;
}

.sympy-live-block {
    position: relative;
}

.sympy-live-block-toolbar {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.sympy-live-block-toolbar > span {
    padding-right: 5px;
    cursor: pointer;
    color: gray;
}

.sympy-live-block-toolbar > span:hover {
    text-decoration: underline;
}

.sympy-live-block {
    border: 1px solid transparent;
}

.sympy-live-block:hover {
    border: 1px solid silver;
}

.sympy-live-block:hover .sympy-live-block-toolbar {
    visibility: visible;
}

.sympy-live-python-prompt:hover {
    cursor: pointer;
}
