.sympy-live-output {
    font-family: monospace;
    font-size: 10pt;
    margin: 0 0 10px 0;
    padding: 5px;
    width: 95%;
    height: 20em;
    overflow: auto;
    border: 1px solid silver;
    background-color: #f5f5f5;
}

.sympy-live-output > div {
    white-space: pre;
    word-wrap: break-word;
}

.sympy-live-output > div.sympy-live-hidden {
    visibility: hidden;
}

.sympy-live-caret {
    font-family: monospace;
    font-size: 10pt;
    width: 2.5em;
    border: 1px solid silver;
    margin: 0;
    padding: 5px;
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
    outline: none;
    overflow: hidden;
    background-color: #f5f5f5;
    resize: none;
}

.sympy-live-prompt {
    font-family: monospace;
    font-size: 10pt;
    width: 88.5%;
    border: 1px solid silver;
    margin: 0;
    padding: 5px;
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
    outline: none;
    overflow: hidden;
    background-color: #f5f5f5;
    background-position: top right;
    background-repeat: no-repeat;
    resize: none;
}

.sympy-live-toolbar {
    margin: 5px 0 0 0;
}

.sympy-live-toolbar > * {
    margin-left: 0.5em;
}

.sympy-live-processing {
    background-image: url("/static/spinner.gif");
}
