button {
    background: #e4ebe4;
    border: 1px solid #000;
    padding: 0.5em;
    border-radius: 4px;
    color: #3b5526;
}

.sympy-live-output {
    font-family: monospace;
    font-size: 10pt;
    margin: 0 0 10px 0;
    padding: 5px;
    width: 95%;
    height: 20em;
    overflow: auto;
    border: 1px solid silver;
    background-color: #f5f5f5;
}

.sympy-live-output > div {
    white-space: pre;
}

.sympy-live-output > div.sympy-live-hidden {
    visibility: hidden;
}

.sympy-live-caret {
    font-family: monospace;
    font-size: 10pt;
    width: 2.5em;
    border: 1px solid silver;
    margin: 0;
    padding: 5px;
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
    outline: none;
    overflow: hidden;
    background-color: #f5f5f5;
    resize: none;
}

.sympy-live-prompt {
    font-family: monospace;
    font-size: 10pt;
    width: 88.5%;
    border: 1px solid silver;
    margin: 0;
    padding: 5px;
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
    outline: none;
    overflow: hidden;
    background-color: #f5f5f5;
    background-position: top right;
    background-repeat: no-repeat;
    resize: none;
}

.sympy-live-toolbar {
    margin: 5px 0 0 0;
}

.sympy-live-toolbar > * {
    margin-bottom: 0.5em;
}
.sympy-live-toolbar > button {
  margin-right: 0.5em;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  background-color: #3b5526;
  color: #FFF;
  font-weight: bold;
}
.sympy-live-toolbar > button:hover {
  background-color: #5B7745;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.sympy-live-toolbar > button:first-child {
  background-color: #81B953;
}

.sympy-live-processing {
    background-image: url("/static/spinner.gif");
}

.sympy-live-toolbar > button.sympy-live-evaluate-disabled {
    background-color: #999;
    color: #000
}

.sympy-live-fullscreen-popup {
    background: #000;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    border-radius: 5px;
    opacity: .8;
    text-align: center;
    line-height: 50px;
}

.sympy-live-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 100px;
  bottom: 0;
  background-color: rgba(1,1,1,0.8);
}

.sympy-live-dialog div {
  border: 1px solid #81B953;
  background-color: #FFF;
  padding: 0.5em;
  font-weight: bold;
}

.sympy-live-dialog div p {
  margin: 0.25em 0;
}

.sympy-live-dialog div textarea {
  width: 80%;
  display: block;
  margin: auto;
  height: 300px;
}

#make-one-off-button {
  float: right;
  background-image: url('/static/make_url.png');
  width: 24px;
  border: 0;
  background-color: transparent;
  padding: 0;
  height: 24px;
  background-size: 100%;
}

#make-one-off-button:hover {
  background-color: #AAA;
}