button {
    background: #e4ebe4;
    border: 1px solid #000;
    padding: 0.5em;
    border-radius: 4px;
    color: #3b5526;
}

.sympy-live-output {
    font-family: monospace;
    font-size: 10pt;
    margin: 0 0 10px 0;
    padding: 5px;
    width: 95%;
    height: 20em;
    overflow: auto;
    border: 1px solid silver;
    background-color: #f5f5f5;
}

.sympy-live-output > div {
    white-space: pre;
    word-wrap: break-word;
}

.sympy-live-output > div.sympy-live-hidden {
    visibility: hidden;
}

.sympy-live-caret {
    font-family: monospace;
    font-size: 10pt;
    width: 2.5em;
    border: 1px solid silver;
    margin: 0;
    padding: 5px;
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
    outline: none;
    overflow: hidden;
    background-color: #f5f5f5;
    resize: none;
}

.sympy-live-prompt {
    font-family: monospace;
    font-size: 10pt;
    width: 88.5%;
    border: 1px solid silver;
    margin: 0;
    padding: 5px;
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
    outline: none;
    overflow: hidden;
    background-color: #f5f5f5;
    background-position: top right;
    background-repeat: no-repeat;
    resize: none;
}

.sympy-live-toolbar {
    margin: 5px 0 0 0;
}

.sympy-live-toolbar > * {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
.sympy-live-toolbar > button {
    margin-left: 0.5em;
    background-color: #3b5526;
    color: #FFF;
}

.sympy-live-processing {
    background-image: url("/static/spinner.gif");
}

.sympy-live-toolbar > button.sympy-live-evaluate-disabled {
    background-color: #999;
    color: #000
}

.sympy-live-fullscreen-popup {
    background: #000;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    border-radius: 5px;
    opacity: .8;
    text-align: center;
    line-height: 50px;
}

.sympy-live-autocompletions {
    overflow: hidden;
    list-style-type: decimal;
    font-family: monospace;
    font-size: 10pt;
    height: 1.2em;
    width: 95%;
    counter-reset: completion;
}

.sympy-live-autocompletions li {
    display: inline;
    margin-right: 0.25em;
    
}

.sympy-live-autocompletions li:before {
    counter-increment: completion;
    content: counter(completion) ". ";
}

.sympy-live-autocompletions li:after {
    content: " | ";
}

.sympy-live-autocompletions li:last-child:after {
    content: "";
}
