.sympy-live-completions {
    overflow: hidden;
    list-style-type: none;
    font-family: monospace;
    font-size: 12pt;
    width: 89%;
    height: 30px;
    counter-reset: completion;
    display: inline-block;
}

.sympy-live-completions li {
    background-color: transparent !important;
}

.sympy-live-completions button {
    background-color: #3b5526;
    color: #FFF;
    border-radius: 0;
    height: 100%;
    font-family: monospace;
    width: 100%;
}

.sympy-live-completions.expanded {
    max-height: 160px;
    overflow: auto;
}

.sympy-live-completions li {
    display: inline-block;
    margin-right: 0.25em;
    height: 30px;
    margin-bottom: 10px;
    width: 30%;
}

.sympy-live-completions li button.padding {
    background-color: transparent;
    border: 0;
    color: #000;
}

.sympy-live-completions li.counted button:not(.padding):before {
    counter-increment: completion;
    content: counter(completion) ". ";
}

.sympy-live-completions-toolbar {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    height: 30px;
}

.sympy-live-completions-toolbar button {
    background-color: #3b5526;
    color: #FFF;
    border-radius: 0;
    width: 32%;
    height: 100%;
}

.sympy-live-completions-toolbar button.disabled {
    background-color: #999;
    color: #000;
}

.sympy-live-completions-toolbar button:first-child span {
    display: block;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    -moz-transform: rotate(0deg) translate(0px, 0px);
    -o-transform: rotate(0deg) translate(0px, 0px);
    -ms-transform: rotate(0deg) translate(0px, 0px);
    -transform: rotate(0deg) translate(0px, 0px);
}

.sympy-live-completions-toolbar button.hidden:first-child span {
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
    -moz-transform: rotate(-180deg) translate(0px, 0px);
    -o-transform: rotate(-180deg) translate(0px, 0px);
    -ms-transform: rotate(-180deg) translate(0px, 0px);
    -transform: rotate(-180deg) translate(0px, 0px);
}
