#shell {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 600px;

  border: 2px solid #81B953;
  border-right: 0;
  border-bottom: 0;
  border-radius: 10px 0 0 0;
  padding: 10px 20px 20px 10px;
  background: #FFF;
}

#shell h2, #shell h2 a:link, #shell h2 a:visited,
#shell h2 a:hover, #shell h2 a:active {
  font-weight: normal;
  margin: 0;
  text-align: center;
  color: #000;
}

.sympy-live-output {
  width: 600px;
}

#toggleShell {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 5px 0 0 0;
  color: #FFF;
  background-color: #3B5526;
}

#toggleShell:before {
  content: "↖ ";
}

#toggleShell.shown:before {
  content: "↘ ";
}

/* Tab completion */

.sympy-live-completions-toolbar #sympy-live-completions-toggle {
  display: none;
}

.sympy-live-completions-toolbar {
  width: 7%;
}

.sympy-live-completions-toolbar button {
  width: 50%;
}

.sympy-live-completions {
  padding-left: 10px;
  line-height: 30px;
  margin: 0;
}

/* Settings */

#settings {
  border-top: 1px solid #222;
}

#settings h3 {
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}

#settings h3:before {
  content: "▾ ";
}

#settings h3.shown:before {
  content: "▴ ";
}

/* Code blocks on page */

.sympy-live-eval-toolbar {
  display: none;
  font-family: Arial;
  font-size: 13px;
}

.sympy-live-eval-button {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.highlight-python:hover .sympy-live-eval-toolbar {
  display: block;
  position: absolute;
  right: 25px;
  margin-top: 5px;
}

.sympy-live-eval-button:hover {
  color: #81B953;
  text-decoration: underline;
}