.sympy-live-autocompletions {
    overflow: hidden;
    list-style-type: decimal;
    font-family: monospace;
    font-size: 12pt;
    width: 89%;
    height: 30px;
    counter-reset: completion;
    display: inline-block;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.sympy-live-autocompletions button {
    background-color: #3b5526;
    color: #FFF;
    border-radius: 0;
    height: 100%;
    font-family: monospace;
}

.sympy-live-autocompletions.expanded {
    height: 150px;
    overflow: auto;
}

.sympy-live-autocompletions.expanded li {
    width: 22.4%;
}

.sympy-live-autocompletions li {
    display: inline-block;
    margin-right: 0.25em;
    height: 30px;
    margin-bottom: 0.5em;
}

.sympy-live-autocompletions li.counted button:before {
    counter-increment: completion;
    content: counter(completion) ". ";
}

.sympy-live-autocompletions li:last-child:after {
    content: "";
}

.sympy-live-autocompletions-toolbar {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    height: 30px;
}

.sympy-live-autocompletions-toolbar button {
    background-color: #3b5526;
    color: #FFF;
    border-radius: 0;
    width: 32%;
    height: 100%;
}

.sympy-live-autocompletions-toolbar button:first-child span {
    display: block;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    -moz-transform: rotate(0deg) translate(0px, 0px);
    -o-transform: rotate(0deg) translate(0px, 0px);
    -ms-transform: rotate(0deg) translate(0px, 0px);
    -transform: rotate(0deg) translate(0px, 0px);
}

.sympy-live-autocompletions-toolbar button.hidden:first-child span {
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
    -moz-transform: rotate(-180deg) translate(0px, 0px);
    -o-transform: rotate(-180deg) translate(0px, 0px);
    -ms-transform: rotate(-180deg) translate(0px, 0px);
    -transform: rotate(-180deg) translate(0px, 0px);
}
