body {
    font-family: monospace;
    font-size: 10pt;
}
#left, #right, #footer2, #user , #example, #about, #other_shells, #recent_searches, #user_searches {
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-border-radius: 4px 4px 4px 4px;
	}
.header {
    width: 50em;
}

.username {
    font-weight: bold;
}
#saved_searches, #recent_searches_content {
overflow:auto;
height:180px;
}
#footer2 {
	padding-left:5px;
	padding-right:5px;
    height:25px;
    line-height:25px;
    margin-left:20px;
    margin-right:20px;
    background-color:#3B5526;
    color:white;
}
#banner {
    display: none;
}

#mainpage {
	min-width:960px;
	min-height:560px;
	padding:0 20px;
	margin-top:20px;
}
#other_shells_arrow_clicked, #recent_searches_arrow_clicked, #example_arrow_clicked, #about_arrow_clicked, #user_searches_arrow_clicked  {
	float:right;
	text-align:center;
	margin-right:10px;
	margin-top:7.5px;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
	-webkit-transform: rotate(-180deg) translate(0px, 0px);
	-moz-transform: rotate(-180deg) translate(0px, 0px);
	-o-transform: rotate(-180deg) translate(0px, 0px);
	-ms-transform: rotate(-180deg) translate(0px, 0px);
	-transform: rotate(-180deg) translate(0px, 0px);
	
}
.clickable_top {
width:100%;
height:35px;
float:left;
}
#left {
	width:55%;
	float:left;
}
#right {
	overflow:hidden;
	width:38%;
	float:right;
}
#left, #right {
	border-color:#81B953;
	border-width:2px;
	border-style:solid;
	padding:10px 10px 10px 10px;
	background-color:white;
	margin: 4px 0px 4px 4px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	}
#user , #example, #about, #other_shells, #recent_searches, #user_searches{
	padding: 0px 5px 5px 5px;
	height:35px;
	overflow:hidden;
	-moz-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	border-style:solid;
	border-width:1px;
	background-color:#e4ebe4;
}

#recent_searches, #user_searches {  	
  	color: #222222;
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
}

.right_title {
	font-size:35px;
	font-weight:bold;
	font-family: "Raleway";
	text-align:center;
	margin-bottom:15px;
}
.title {
	float:left;

}

#other_shells_arrow, #recent_searches_arrow, #example_arrow, #about_arrow, #user_searches_arrow {
	float:right;
	text-align:center;
	margin-right:10px;
	margin-top:7.5px;
	-moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
	-webkit-transform: rotate(0deg) translate(0px, 0px);
	-moz-transform: rotate(0deg) translate(0px, 0px);
	-o-transform: rotate(0deg) translate(0px, 0px);
	-ms-transform: rotate(0deg) translate(0px, 0px);
	-transform: rotate(0deg) translate(0px, 0px);
}

#clear_searches {
    margin-top:14px;
}

.content {
	margin-top:45px;
}

#w3_validator {
	position:fixed;
	bottom:5px;
	right:5px;
}
