            body {
                font-family: monospace;
                font-size: 10pt;
            }

            .header {
                width: 50em;
            }

            .username {
                font-weight: bold;
            }

			#footer2 {
			padding-left:5px;
			padding-right:5px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px 4px;
  height:25px;
  line-height:25px;
  margin-left:20px;
  margin-right:20px;
  background-color:#3B5526;
  color:white;
  }
            #banner {
                display: none;
            }

			#mainpage {
			min-width:960px;
			min-height:500px;
			padding:0 20px;
			margin-top:20px;
			}
			#left {
			padding:10px 10px 10px 10px;
			background-color:white;
			min-width:500px;
			max-width:60%;
			float:left;
			border-color:#81B953;
			border-width:2px;
			border-style:solid;
			margin: 4px 0px 4px 4px;
			-moz-border-radius-topleft: 4px;
			-webkit-border-top-left-radius: 4px;
			-moz-border-radius-topright: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-bottomright: 4px;
			-webkit-border-bottom-right-radius: 4px;
			-moz-box-shadow: 10px 10px 5px #888;
			-webkit-box-shadow: 10px 10px 5px #888;
			box-shadow: 10px 10px 5px #888;
			}
			#right {
			padding:10px 10px 10px 10px;
			overflow:hidden;
			border-color:#81B953;
			border-width:2px;
			border-style:solid;
			background-color:white;
			max-width:38%;
			float:right;
			margin: 4px 0px 4px 4px;
  			-moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			-moz-box-shadow: 10px 10px 5px #888;
			-webkit-box-shadow: 10px 10px 5px #888;
			box-shadow: 10px 10px 5px #888;
			}
			#user {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			  -moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			#about {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			  -moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			/* #about:hover {
			height:175px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
    			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;
			} No longer needed due to request to make them onclick only. */ 
			#other_shells {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			  -moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			/*  #other_shells:hover {
			height:80px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
    			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;
			} No longer needed due to request to make them onclick only. */ 
			#example {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			-moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			/* #example:hover {
			height:175px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
   			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;
	} No longer needed due to request to make them onclick only. */ 
	.right_title {
	font-size:35px;
	font-weight:bold;
	font-family: "Raleway";
	text-align:center;
	margin-bottom:15px;
	}
	.title {
	float:left;
	}
	.arrow {
	float:right;
	text-align:center;
	margin-right:10px;
	margin-top:7.5px;
	}
	.content {
	margin-top:45px;
	}
	#w3_validator {
	position:fixed;
	bottom:5px;
	right:5px;
	}
