<html>
<head>
<title>Graphical Shell</title>
<script src="/static/prototype.js"></script>
<script src="/static/jsMath/plugins/noImageFonts.js"></script>
<script src="/static/jsMath/jsMath.js"></script>
<script type="text/javascript">jsMath.Setup.Script("plugins/tex2math.js"); jsMath.Extension.Require("AMSmath");</script>
<script type="text/javascript">
// adapted from http://www.toao.net/32/my-htmlspecialchars-function-for-javascript/
function htmlspecialchars(str) {
	if(typeof(str) == "string") {
		str = str.replace(/&/g, "&amp;"); /* must do &amp; first */
		str = str.replace(/"/g, "&quot;");
		str = str.replace(/'/g, "&#039;");
		str = str.replace(/</g, "&lt;");
		str = str.replace(/>/g, "&gt;");
	}
	return str;
}

function showmath(s) {
	q = '_ = ' + s + '; print latex(_); del _;';
// 	q = '_ = ' + s + '; print \'$\' + latex(_) + \'$\'; del _;';
	q = escape(q).replace(/\+/g, '%2B');
	
	new Ajax.Request('/shell.do?statement=' + q + '&session={{ session }}', {
		method: 'get',
		onSuccess: function(transport) {
			var div = document.getElementById('mathdisplay');
			div.innerHTML += '&gt;&gt;&gt; ';
			div.innerHTML += '<tt>' + htmlspecialchars(s) + '</tt>';
			div.innerHTML += '<br />';
			div.innerHTML += htmlspecialchars(transport.responseText).replace(/\n/g, '<br />');
			div.innerHTML += '<br />';
			jsMath.ConvertTeX(div);
			jsMath.ProcessBeforeShowing(div);
			
			jsMath.Synchronize(function() {
				document.getElementById('mathinput').value = '';
				window.location = '#input'; // scroll to bottom
				document.getElementById('mathinput').focus();
			});
		}
	});
}

// adapted from http://jennifermadden.com/javascript/stringEnterKeyDetector.html
function checkEnter(e, el) { // e is event object passed from function invocation
	var characterCode // literal character code will be stored in this variable
	
	if(e && e.which) { // if which property of event object is supported (NN4)
		e = e;
		characterCode = e.which; // character code is contained in NN4's which property
	} else {
		e = event;
		characterCode = e.keyCode; // character code is contained in IE's keyCode property
	}
	
	if(characterCode == 13) { // if generated character code is equal to ascii 13 (if enter key)
		showmath(el.value);
		return false;
	} else {
		return true;
	}
}
</script>
</head>
<body onLoad="document.getElementById('mathinput').focus();">
<div id="mathdisplay"></div>
<nobr><a name="input">&gt;&gt;&gt; <input id="mathinput" type="text" size="40" onKeyPress="checkEnter(event,this);" style="font-family: monospace; border: 0px white none; width: 80%;" /></a></nobr>
</body>
</html>
