<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>SymPy Live</title>

        <link rel="stylesheet" type="text/css" href="/static/shell.css" />

        <script type="text/javascript" src="/static/external/ext-core.js"></script>
        <script type="text/javascript" src="/static/shell.js"></script>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                extensions: ["MathMenu.js", "MathZoom.js"],
                showProcessingMessages: false,
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    displayMath: [['$$','$$'], ['\[','\]']]
                },
                TeX: {
                    extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js"]
                },
                menuSettings: {
                    context: "Browser",
                    zoom: "Hover",
                    ALT: true
                },
                MathZoom: {
                    delay: 100
                }
            });
        </script>

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>

        <script type="text/javascript">
            Ext.onReady(function() {
                var shell = new SymPy.Shell();
                shell.render(Ext.get('shell'));
            });
        </script>
    </head>
    <body>
        <p class="header">
            <a href="http://sympy.org/">SymPy</a>
            <a href="https://github.com/sympy/sympy-live">online shell</a>
            running on the
            <a href="http://code.google.com/appengine/">Google App Engine</a>.
            <span style="float: right">
            {% if user %}
                <span class="username">{{ user.nickname }}</span>
                (<a href="{{ logout_url }}">log out</a>)
            {% else %}
                <a href="{{ login_url }}">log in</a>
            {% endif %}
            </span>
        </p>

        <div id="banner">{{ banner }}</div>
        <div id="shell"></div>

        <h3>About</h3>
        <p>
This is just a regular Python shell, with the following command executed by default:
<pre>
&gt;&gt;&gt; from __future__ import division
&gt;&gt;&gt; from sympy import *
&gt;&gt;&gt; x, y, z, t = symbols('x y z t')
&gt;&gt;&gt; k, m, n = symbols('k m n', integer=True)
&gt;&gt;&gt; f, g, h = symbols('f g h', cls=Function)
</pre>
            </p>
            <h3>Example session</h3>
            <p>
<pre>
&gt;&gt;&gt; expr = (x + y)**5
&gt;&gt;&gt; expand(expr)
x**5 + 5*x**4*y + 10*x**3*y**2 + 10*x**2*y**3 + 5*x*y**4 + y**5
&gt;&gt;&gt; sin(x).series(x, 0, 5)
x - 1/6*x**3 + O(x**5)
&gt;&gt;&gt; integrate(1/(x**3 + 1), x)
log(x + 1)/3 - log(x**2 - x + 1)/6 + 3**(1/2)*atan(2*3**(1/2)*x/3 - 3**(1/2)/3)/3
</pre>
            More information at <a href="http://docs.sympy.org/">http://docs.sympy.org/</a>.
            <br/>
            <br/>
            Other shells:
            <ul>
                <li><a href="/shelldsi">nintendo dsi calculator</a> which is adapted for the dimensions of the ndsi browser.</li>
            </ul>
        </p>
    </body>
</html>
