{% extends "base.html" %}

{% block title %}SymPy Live{% endblock %}

{% block content %}
<h1>SymPy Live</h1>
<div id="banner">{{ banner|safe }}</div>
<iframe
    src="https://replite.vercel.app/retro/consoles/?toolbar=1&kernel=python&code=import%20sympy%20as%20sp"
    width="100%"
    height="500px"
>
</iframe>
{% endblock %}

{% block sidebar %}
<div id="user" class="sidebar_card">
    {% if user %}
    <div class="clickable_top">
        <h3>{{ user.nickname }}</h3>
    </div>
    {% else %}
    <h3><a href="{{ login_url }}">Log In</a></h3>
    {% endif %}
    <div class="content">
        {% if user %}
        <p><a href="{{ logout_url }}">Log Out</a></p>
        {% endif %}
    </div>
</div>

<div id="about" class="sidebar_card">
    <a id="#about">
        <div class="clickable_top">
            <h3>About this page</h3>
        </div>
    </a>
    <div id="about_content" class="content">
        <a href="https://github.com/sympy/sympy-live">SymPy Live</a> is <a href="https://www.sympy.org/">SymPy</a>
        running on the
        <a href="https://code.google.com/appengine/">Google App Engine</a>.
        <p>
            This is just a regular Python shell, with the following commands executed by
            default:
        </p>
        <pre>
&gt;&gt;&gt; from __future__ import division
&gt;&gt;&gt; from sympy import *
&gt;&gt;&gt; x, y, z, t = symbols('x y z t')
&gt;&gt;&gt; k, m, n = symbols('k m n', integer=True)
&gt;&gt;&gt; f, g, h = symbols('f g h', cls=Function)</pre>
        <p> Please note that the Google App Engine has a timeout of 60 seconds
            for commands, and that due to a quirk in Safari on iOS, the timeout on iOS
            is 58 seconds.
        </p>
        <p>The thumbtack icon is from
            the <a href="https://developer.android.com/design/downloads/index.html">Android
                Action Bar Icon Pack</a> and is used under the terms "You may use the
            materials in this file without restriction to develop your apps and to
            use in your apps."
        </p>
    </div>
</div>

<div id="example" class="sidebar_card">
    <a id="#example">
        <div class="clickable_top">
            <h3>Example session</h3>
        </div>
    </a>
    <div class="content">
        <pre class="executable">
&gt;&gt;&gt; expr = (x + y)**5
&gt;&gt;&gt; expand(expr)
$$ x^5 + 5 x^4 y + 10 x^3 y^2 + 10 x^2 y^3 + 5 x y^4 + y^5 $$
&gt;&gt;&gt; sin(x).series(x, 0, 5)
$$ x - \frac16 x^3 + O(x^5) $$</pre>

        More information can be found at <a href="https://docs.sympy.org/">https://docs.sympy.org/</a>.


    </div>
</div>

<div id="settings" class="sidebar_card">
    <a id="#settings">
        <div class="clickable_top">
            <h3>Settings</h3>
        </div>
    </a>
    <div class="content"></div>
</div>

<div id="recent_statements" class="sidebar_card">
  <div class="clickable_top">
    <h3>Recent Statements</h3>
  </div>
  <div class="content">
    <div id="recent_searches">
      {% if has_searches %}
      {% for search in searches %}
      <a><pre>{{ search|escape }}</pre></a>
      {% endfor %}
      {% else %}
      <p>No recent statements</p>
      {% endif %}
    </div>
  </div>
</div>

<!--Show saved searches only if the user is logged in-->
{% if user %}
<div id="saved_statements" class="sidebar_card">
  <div class="clickable_top">
    <h3>My Statements</h3>
  </div>
  <div class="content">
    {% if has_saved_searches %}
    {% for search in saved_searches %}
    {% if search %}
    <a><pre>{{ search|escape }}</pre></a>
    {% endif %}
    {% endfor %}

    <p><a href="javascript:clear_searches();">(Clear History)</a></p>
    {% else %}
    <p>No saved statements</p>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
