<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <title>SymPy Live</title>

    <script type="text/javascript" src="/static/external/ext-core.js"></script>
	<link rel="stylesheet" href="static/style.css" type="text/css" />
	<link rel="stylesheet" href="static/base.css" type="text/css" media="screen" />
	<link rel="stylesheet" id="current-theme" href="static/style2.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/live-mobile.css" />
    <script type="text/javascript" src="/static/live-core.js"></script>
    <script type="text/javascript" src="/static/live-mobile.js"></script>
    <style type="text/css">
      body {
        font-family: monospace;
        font-size: 10pt;
      }

      .username {
        font-weight: bold;
      }

      #banner {
        display: none;
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["MathMenu.js", "MathZoom.js"],
        showProcessingMessages: false,
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          displayMath: [['$$','$$'], ['\[','\]']]
        },
        TeX: {
          extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js"]
        },
        menuSettings: {
          context: "Browser",
          zoom: "Hover",
          ALT: true
        },
        MathZoom: {
        delay: 100
        }
      });
    </script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>

    <script type="text/javascript">
      Ext.onReady(function() {
        var shell = new SymPy.MobileShell({
          printer: "{{ printer }}",
          submit: "{{ submit }}",
          tabWidth: {{ tabWidth }}
        });

        var el = Ext.get('shell');
        shell.render(el);
      });
    </script>
  </head>
  <body>
    <div id="header">
      <h1><a href="index.html"><img src="static/logo.png" style="vertical-align:middle" alt="SymPy Logo" /> SymPy Live</a></h1>
      <button id="menu">&#8942;</button>
    </div>
    <div id="user">
      {% if user %}
      <span class="username">{{ user.nickname }}</span>
      (<a href="{{ logout_url }}">log out</a>)
      {% else %}
      <a href="{{ login_url }}">log in</a>
      {% endif %}
    </div>
    <div id="banner">{{ banner }}</div>
    <p>Non-iOS 5 users: use two fingers to scroll.</p>
    <div id="shell"></div>
    <div id="main-navigation">
        <ul>
            <li class="first"><a href="http://www.sympy.org/index.html">Main Page</a></li>
            <li class="first"><a href="http://www.sympy.org/download.html">Download</a></li>
            <li class="first"><a href="http://www.sympy.org/docs.html">Documentation</a></li>
            <li class="first"><a href="http://www.sympy.org/support.html">Support</a></li>
            <li class="first"><a href="http://www.sympy.org/screenshots.html">Screenshots</a></li>
            <li class="first"><a href="http://www.sympy.org/development.html">Development</a></li>
			<li class="active first"><a href="">Online Shell</a></li>
        </ul>
    </div>
  </body>
</html>
