<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>SymPy Live</title>

        <script type="text/javascript" src="static/utilities.js"></script>
        <script type="text/javascript" src="static/external/classy.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="static/expand_right.js"></script>
        <link rel="stylesheet" href="static/live-autocomplete.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="static/live-core.css" />
        <script type="text/javascript" src="static/live-autocomplete.js"></script>
        <script type="text/javascript" src="static/live-core.js"></script>
		<link rel="stylesheet" href="static/style.css" type="text/css" />
		<link rel="stylesheet" href="static/base.css" type="text/css" media="screen" />
		<link rel="stylesheet" id="current-theme" href="static/style2.css" type="text/css" media="screen" />

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                extensions: ["MathMenu.js", "MathZoom.js"],
                showProcessingMessages: false,
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    displayMath: [['$$','$$'], ['\[','\]']]
                },
                TeX: {
                    extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js"]
                },
                menuSettings: {
                    context: "MathJax",
                    zoom: "Hover",
                    ALT: true
                },
                MathZoom: {
                    delay: 100
                }
            });
        </script>

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                var shell = new SymPy.Shell({
                    printer: "{{ printer }}",
                    submit: "{{ submit }}",
                    tabWidth: {{ tabWidth }}
                });

                var el = $('#shell');
                shell.render(el);

            });
        </script>
    </head>
    <body>
	<div id="container">
	<div id="header">
      <h1><a href=""> <img src="static/logo.png" style="vertical-align:middle" alt="SymPy Logo" /> SymPy Live</a></h1>

      <div id="main-navigation">


        <ul>
            <li class=" first"><a href="http://www.sympy.org/index.html">Main Page</a></li>
            <li class=" first"><a href="http://www.sympy.org/download.html">Download</a></li>
            <li class=" first"><a href="http://www.sympy.org/docs.html">Documentation</a></li>
            <li class=" first"><a href="http://www.sympy.org/support.html">Support</a></li>
            <li class=" first"><a href="http://www.sympy.org/screenshots.html">Screenshots</a></li>
            <li class=" first"><a href="http://www.sympy.org/development.html">Development</a></li>
			<li class="active first"><a href="">SymPy Live</a></li>
        </ul>

        <div class="clear"></div>
      </div>
    </div>
	</div>
        <div id="mainpage">
            <div id="left"><div class="right_title">SymPy Live</div>



        <div id="banner">{{ banner }}</div>
        <div id="shell"></div>
</div><div id="right">

<div class="right_title">More Information</div>
        <div id="user"><div class="title"><h3>{% if user %}
                {{ user.nickname }}
            {% else %}
                <a href="{{ login_url }}">Log In</a>
            {% endif %}</h3></div><div id="logout_link">{% if user %}
                <a href="{{ logout_url }}">Log Out</a>
            {% else %}
            {% endif %}</div>
			</div>

			<!--Show saved searches only if the user is logged in-->
			{% if user %}
			<br/>
			<div id="user_searches">
		        <a href="#user_searches"><div class="clickable_top">
				<div id="user_searches_arrow">
                    <img height="25" width="25" alt="Arrow" src="static/arrow.png">
                </div>
                <div class="title"><h3 style="display:block;">My Searches&nbsp;</h3></div>
                </div></a>
                <div id="saved_searches" class="content">
                {% for search in saved_searches %}
                    {% if search.query %}
                        <pre>{{ search.query|escape }}</pre></br>
                    {% endif %}
                {% endfor %}
                </div>
				<div id="clear_searches" onclick="clear_searches();"><a href="#">(Clear History)</a></div>
        </div>{% endif %}<br/>
            <div id="about">
			<a href="#about"><div class="clickable_top">
			<div class="title"><h3>About this page</h3></div>
			<div id="about_arrow"><img src="static/arrow.png" width="25" height="25" alt="Arrow"/></div>
			</div></a>
<div id="about_content" class="content">
        <a href="https://github.com/sympy/sympy-live">SymPy Live</a> is <a href="http://sympy.org/">SymPy</a>
        running on the
        <a href="http://code.google.com/appengine/">Google App Engine</a>.
<p></p>
This is just a regular Python shell, with the following commands executed by default:
<pre>
&gt;&gt;&gt; from __future__ import division
&gt;&gt;&gt; from sympy import *
&gt;&gt;&gt; x, y, z, t = symbols('x y z t')
&gt;&gt;&gt; k, m, n = symbols('k m n', integer=True)
&gt;&gt;&gt; f, g, h = symbols('f g h', cls=Function)
</pre><p></p>
Please note that the Google App Engine has a timeout of 60 seconds for commands, and that due to a quirk in Safari on iOS, the timeout on iOS is 58 seconds.</div>
			</div><br/>
			<div id="settings">
			<a href="#settings"><div class="clickable_top">
			<div class="title"><h3>Settings</h3></div>
			<div id="settings_arrow"><img src="static/arrow.png" width="25" height="25" alt="Arrow"/></div>
			</div></a>
			<div class="content"></div>
			</div><br/>
            <div id="example">
			<a href="#example"><div class="clickable_top">
			<div class="title"><h3>Example session</h3></div>
			<div id="example_arrow"><img src="static/arrow.png" width="25" height="25" alt="Arrow"/></div>
			</div></a>
<div class="content">
<pre>
&gt;&gt;&gt; expr = (x + y)**5
&gt;&gt;&gt; expand(expr)
x**5 + 5*x**4*y + 10*x**3*y**2 + 10*x**2*y**3 + 5*x*y**4 + y**5
&gt;&gt;&gt; sin(x).series(x, 0, 5)
x - 1/6*x**3 + O(x**5)
</pre>
<!-- Commented out as doesn't fit into new design; feel free to replace with another example -->
<!-- &gt;&gt;&gt; integrate(1/(x**3 + 1), x)
log(x + 1)/3 - log(x**2 - x + 1)/6 + 3**(1/2)*atan(2*3**(1/2)*x/3 - 3**(1/2)/3)/3 -->
<br/>
            More information can be found at <a href="http://docs.sympy.org/">http://docs.sympy.org/</a>.
            <br/>
            <br/>
			</div>
			</div>
			<br/>
			<div id="other_shells">

				<a href="#other_shells"><div class="clickable_top">
					<div class="title"><h3>Other Online Shells</h3></div>
					<div id="other_shells_arrow"><img src="static/arrow.png" width="25" height="25" alt="Arrow"/></div>
				</div></a>

				<div class="content">
            <ul>
                <li><a href="/shelldsi">Nintendo DSi Calculator</a> which is adapted for the dimensions of the DSi browser.</li>
                <li><a href="/shellmobile">Mobile Shell</a> which is adapted for mobile browsers.</li>
            </ul>
		</div>
		</div>
		<br/>
		<div id="recent_searches">
		    <a href="#recent_searches"><div class="clickable_top">
			<div class="title">
            <h3>Recent Searches</h3>
            </div>
			<div id="recent_searches_arrow">
                <img height="25" width="25" alt="Arrow" src="static/arrow.png">
            </div>
			</div></a>
            <div id="recent_searches_content" class="content">
            {% for search in searches %}
                <pre>{{ search.query|escape }}</pre></br>
            {% endfor %}
            </div>
        </div>
		</div>
		</div>
		 <div id="footer2">
              <div class="align_left">Copyright &copy; 2012 SymPy
              Development Team. SymPy Live version {{application_version}}
              deployed on {{date_deployed}}</div>
              <div class="right_align">SymPy Live is open source. Fork <a href="https://github.com/sympy/sympy-live/">the project on GitHub</a> to edit it.</div>
        </div>

		<div id="w3_validator"> <a href="http://validator.w3.org/check?uri=referer"><img
      src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a></div>
    </body>
</html>
